# Practice Exercise

Question 1: Print a random integer between 100 and 135

In [1]:
import random

random_integer = random.randint(100, 135)
print(random_integer)

127

Question 2: Create a list consisting of first 10 even numbers.

In [2]:
[i for i in range(2, 22) if i%2==0]

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

Question 4: Create a nested list which consist of 2 students and their scores in mathematics and english:

Students: Alex and Cody

Alex scores 97 and 95 in mathematics and english respectively,

Cody scores 89 and 92 in mathematics and english respectively.

The list should be such that it first stores the name of students followed by the subjects and then their scores in nested lists.

In [3]:
[
    ['Alex', 'Mathematics', 97],
    ['Alex', 'English', 95],
    ['Cody', 'Mathematics', 89],
    ['Cody', 'English', 92]
]

[['Alex', 'Mathematics', 97],
 ['Alex', 'English', 95],
 ['Cody', 'Mathematics', 89],
 ['Cody', 'English', 92]]

Question 5: Given below is a list, find out whether is has the letter 'k' in it and print the result as true or false.

In [5]:
# Given below is a list:
list3=[1,2,'r',7,'k',6,'o','h','d',5,9]

'k' in list3

True

Question 6: In the tuple given below, print the 3rd element.

In [6]:
# Given below is the tuple:
tuple1=(1,'hello','world','567')

# Print the 3rd element:
tuple1[2]

'world'

Question 7: Given below is a tuple. Sort the tuple and print the result.

In [ ]:
# Given below is the tuple:
tuple2=(1,25,67,100,3,54)

# Sort the tuple:

# Print the result:

Question 8: Given below is a list, convert into a set and print the output also print the length of the set.

In [7]:
# Given below is the list:
list4=[1,2,4,6,3,2,5,4,7,4,6,5,3,2,2,1]

# Convert the list into set:
s = set(list4)
# Print the result:
print(s)

# Print the length of the set:
print(len(s))

{1, 2, 3, 4, 5, 6, 7}
7

Question 9: Given below are two sets, perform the operations given below:
1. Print their union
2. Print their intersection
3. Print their difference
4. Print their symmetric difference

In [8]:
# Given below are two sets:
a={1,2,3,5,6,7}
b={4,5,8,9,2,3}

# Print their union:
print(a.union(b))
# Print their intersection:
print(a.intersection(b))
# Print their difference:
print(a.difference(b))
# Print their symmetric difference:
print(a.symmetric_difference(b))

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{2, 3, 5}
{1, 6, 7}
{1, 4, 6, 7, 8, 9}

Question 10: Create a dictionary that stores the names and roll numbers of 5 students as given below:
1. Sam, 21
2. Cody, 12
3. Addy, 3
4. Zach, 45
5. Amy, 6

In [9]:
# Create a dictionary:
d = {21:"Sam", 12:"Cody", 3:"Addy", 45: "Zach", 6:"Amy"}
# Print the result:
d

{21: 'Sam', 12: 'Cody', 3: 'Addy', 45: 'Zach', 6: 'Amy'}

Question 11: Due to admission of new students the roll number of zach has changed from 45 to 47. Make the required changes and print the new dictionary.

In [10]:
# Update the roll number:
d[47] = d.pop(45)
# In this code, we use the pop() method to remove the key 45
#  from the dictionary and return its value, which is then assigned to the new key 47.
#  This effectively updates the key from 45 to 47 in the dictionary d.
# Print the new dictionary:
d

{21: 'Sam', 12: 'Cody', 3: 'Addy', 6: 'Amy', 47: 'Zach'}

Question 12: Sort the dictionary according to roll number.

In [12]:
# Sort and print the students roll number wise in ascending order:
dict(sorted(d.items(), key=lambda item: item[0]))
#In this code, d.items() returns a list of key-value pairs from the dictionary d,
#  and sorted() is used to sort these pairs based on the keys.
#  The lambda function lambda item: item[0] specifies that we want to sort based 
# on the first element of each pair (i.e., the keys). Finally, dict() is used to 
# convert the sorted list of key-value pairs back into a dictionary, resulting in
#  sorted_d, which is sorted by keys.

{3: 'Addy', 6: 'Amy', 12: 'Cody', 21: 'Sam', 47: 'Zach'}