# Vectorization

Vectorization is a technique used in NumPy to perform mathematical operations on entire arrays of data, rather than on individual elements. By using vectorization, we can significantly improve the performance of our code and make it more efficient.

**Why is vectorized code more efficient?**

There are many factors that contribute to vectorized code being more efficient, but in this class we can discuss two of them:

1. Number of operations for vectorized code <<< serialized code [assuming homogenous data]
2. Batch operations are often implemented in a faster language at the backend. For example, NumPy and Pandas use C in the backend to perform batch operations on homogenous data.

For example, if we were to multiply two lists of numbers in serialized and vectorized ways, this is what it would look like:

![Vectorized operations.png]()

# Problem Statement: Temperature Data set
Recall the temperature data set that you explored and manipulated using function programming methods in Python.You are provided with data of hourly temperature readings for seven consecutive days(Mon-Sun) for a particular week in Seattle. Let's now use this data set to perform the same tasks as you did using functional programming methods.

In [1]:
# Hourly temperature data for a week in Kelvin
temp_list = [
            [281.72, 281.72, 281.71, 281.70, 281.69, 281.69, 281.68, 281.67, 281.66, 281.66, 281.65, 281.64, 281.63, 281.63, 281.62, 282.71, 285.05, 287.97, 290.61, 292.06, 293.68, 295.32, 295.18, 296.11],
            [295.24, 294.38, 292.28, 291.12, 289.93, 287.87, 287.14, 286.54, 286.16, 285.31, 284.30, 283.96, 283.60, 283.23, 283.50, 284.57, 285.64, 286.71, 287.42, 288.61, 289.13, 289.41, 289.18, 288.95],
            [288.79, 287.47, 286.01, 284.85, 283.91, 283.31, 283.07, 283.15, 282.51, 281.98, 281.49, 281.14, 280.59, 279.65, 279.15, 279.72, 282.40, 284.72, 286.03, 287.19, 288.68, 289.56, 290.05, 289.98],
            [289.60, 288.40, 286.38, 285.56, 284.45, 283.92, 283.25, 282.59, 281.92, 281.78, 281.63, 281.08, 280.64, 281.14, 280.08, 280.70, 282.98, 284.62, 286.61, 287.45, 289.22, 290.21, 289.94, 290.01],
            [289.85, 288.82, 287.60, 285.82, 284.58, 284.12, 283.63, 282.98, 282.68, 282.38, 281.77, 281.47, 281.06, 280.55, 280.65, 281.00, 283.49, 286.17, 287.58, 289.49, 292.11, 292.85, 292.69, 292.85],
            [292.05, 290.34, 288.05, 286.46, 285.37, 285.04, 284.38, 283.73, 283.07, 282.87, 280.77, 280.32, 280.01, 279.77, 279.54, 279.63, 282.48, 287.17, 289.47, 291.63, 293.42, 293.95, 294.78, 294.10],
            [293.62, 291.88, 290.03, 288.43, 287.15, 286.78, 286.32, 285.17, 283.78, 282.96, 282.93, 281.96, 282.02, 281.26, 280.25, 281.01, 283.15, 286.49, 289.87, 291.42, 292.46, 293.35, 294.32, 294.85],         
             ]

In [2]:
import numpy as np

In [3]:
temp_k = np.array(temp_list)
temp_k

array([[281.72, 281.72, 281.71, 281.7 , 281.69, 281.69, 281.68, 281.67,
        281.66, 281.66, 281.65, 281.64, 281.63, 281.63, 281.62, 282.71,
        285.05, 287.97, 290.61, 292.06, 293.68, 295.32, 295.18, 296.11],
       [295.24, 294.38, 292.28, 291.12, 289.93, 287.87, 287.14, 286.54,
        286.16, 285.31, 284.3 , 283.96, 283.6 , 283.23, 283.5 , 284.57,
        285.64, 286.71, 287.42, 288.61, 289.13, 289.41, 289.18, 288.95],
       [288.79, 287.47, 286.01, 284.85, 283.91, 283.31, 283.07, 283.15,
        282.51, 281.98, 281.49, 281.14, 280.59, 279.65, 279.15, 279.72,
        282.4 , 284.72, 286.03, 287.19, 288.68, 289.56, 290.05, 289.98],
       [289.6 , 288.4 , 286.38, 285.56, 284.45, 283.92, 283.25, 282.59,
        281.92, 281.78, 281.63, 281.08, 280.64, 281.14, 280.08, 280.7 ,
        282.98, 284.62, 286.61, 287.45, 289.22, 290.21, 289.94, 290.01],
       [289.85, 288.82, 287.6 , 285.82, 284.58, 284.12, 283.63, 282.98,
        282.68, 282.38, 281.77, 281.47, 281.06, 280.55, 280.65, 281.  ,
        283.49, 286.17, 287.58, 289.49, 292.11, 292.85, 292.69, 292.85],
       [292.05, 290.34, 288.05, 286.46, 285.37, 285.04, 284.38, 283.73,
        283.07, 282.87, 280.77, 280.32, 280.01, 279.77, 279.54, 279.63,
        282.48, 287.17, 289.47, 291.63, 293.42, 293.95, 294.78, 294.1 ],
       [293.62, 291.88, 290.03, 288.43, 287.15, 286.78, 286.32, 285.17,
        283.78, 282.96, 282.93, 281.96, 282.02, 281.26, 280.25, 281.01,
        283.15, 286.49, 289.87, 291.42, 292.46, 293.35, 294.32, 294.85]])

In [5]:
# Converting temperature data from Kelvin to Celsius

array([[ 8.57,  8.57,  8.56,  8.55,  8.54,  8.54,  8.53,  8.52,  8.51,
         8.51,  8.5 ,  8.49,  8.48,  8.48,  8.47,  9.56, 11.9 , 14.82,
        17.46, 18.91, 20.53, 22.17, 22.03, 22.96],
       [22.09, 21.23, 19.13, 17.97, 16.78, 14.72, 13.99, 13.39, 13.01,
        12.16, 11.15, 10.81, 10.45, 10.08, 10.35, 11.42, 12.49, 13.56,
        14.27, 15.46, 15.98, 16.26, 16.03, 15.8 ],
       [15.64, 14.32, 12.86, 11.7 , 10.76, 10.16,  9.92, 10.  ,  9.36,
         8.83,  8.34,  7.99,  7.44,  6.5 ,  6.  ,  6.57,  9.25, 11.57,
        12.88, 14.04, 15.53, 16.41, 16.9 , 16.83],
       [16.45, 15.25, 13.23, 12.41, 11.3 , 10.77, 10.1 ,  9.44,  8.77,
         8.63,  8.48,  7.93,  7.49,  7.99,  6.93,  7.55,  9.83, 11.47,
        13.46, 14.3 , 16.07, 17.06, 16.79, 16.86],
       [16.7 , 15.67, 14.45, 12.67, 11.43, 10.97, 10.48,  9.83,  9.53,
         9.23,  8.62,  8.32,  7.91,  7.4 ,  7.5 ,  7.85, 10.34, 13.02,
        14.43, 16.34, 18.96, 19.7 , 19.54, 19.7 ],
       [18.9 , 17.19, 14.9 , 13.31, 12.22, 11.89, 11.23, 10.58,  9.92,
         9.72,  7.62,  7.17,  6.86,  6.62,  6.39,  6.48,  9.33, 14.02,
        16.32, 18.48, 20.27, 20.8 , 21.63, 20.95],
       [20.47, 18.73, 16.88, 15.28, 14.  , 13.63, 13.17, 12.02, 10.63,
         9.81,  9.78,  8.81,  8.87,  8.11,  7.1 ,  7.86, 10.  , 13.34,
        16.72, 18.27, 19.31, 20.2 , 21.17, 21.7 ]])

In [6]:
# Converting temperature from deg C to deg F

[[47.426 47.426 47.408 47.39  47.372 47.372 47.354 47.336 47.318 47.318
  47.3   47.282 47.264 47.264 47.246 49.208 53.42  58.676 63.428 66.038
  68.954 71.906 71.654 73.328]
 [71.762 70.214 66.434 64.346 62.204 58.496 57.182 56.102 55.418 53.888
  52.07  51.458 50.81  50.144 50.63  52.556 54.482 56.408 57.686 59.828
  60.764 61.268 60.854 60.44 ]
 [60.152 57.776 55.148 53.06  51.368 50.288 49.856 50.    48.848 47.894
  47.012 46.382 45.392 43.7   42.8   43.826 48.65  52.826 55.184 57.272
  59.954 61.538 62.42  62.294]
 [61.61  59.45  55.814 54.338 52.34  51.386 50.18  48.992 47.786 47.534
  47.264 46.274 45.482 46.382 44.474 45.59  49.694 52.646 56.228 57.74
  60.926 62.708 62.222 62.348]
 [62.06  60.206 58.01  54.806 52.574 51.746 50.864 49.694 49.154 48.614
  47.516 46.976 46.238 45.32  45.5   46.13  50.612 55.436 57.974 61.412
  66.128 67.46  67.172 67.46 ]
 [66.02  62.942 58.82  55.958 53.996 53.402 52.214 51.044 49.856 49.496
  45.716 44.906 44.348 43.916 43.502 43.664 48.794 57.236 61.376 65.264
  68.486 69.44  70.934 69.71 ]
 [68.846 65.714 62.384 59.504 57.2   56.534 55.706 53.636 51.134 49.658
  49.604 47.858 47.966 46.598 44.78  46.148 50.    56.012 62.096 64.886
  66.758 68.36  70.106 71.06 ]]

In [13]:
# Temperature for a certain hour on a certain day

The temperature on Day 4 at Hour 2 is 15.25 deg C

array([[False, False, False, False, False, False, False, False, False,
        False, False, False, False, False, False, False, False, False,
        False, False, False,  True,  True,  True],
       [ True, False, False, False, False, False, False, False, False,
        False, False, False, False, False, False, False, False, False,
        False, False, False, False, False, False],
       [False, False, False, False, False, False, False, False, False,
        False, False, False, False, False, False, False, False, False,
        False, False, False, False, False, False],
       [False, False, False, False, False, False, False, False, False,
        False, False, False, False, False, False, False, False, False,
        False, False, False, False, False, False],
       [False, False, False, False, False, False, False, False, False,
        False, False, False, False, False, False, False, False, False,
        False, False, False, False, False, False],
       [False, False, False, False, False, False, False, False, False,
        False, False, False, False, False, False, False, False, False,
        False, False, False, False, False, False],
       [False, False, False, False, False, False, False, False, False,
        False, False, False, False, False, False, False, False, False,
        False, False, False, False, False, False]])

In [21]:
# num_hours temp was above 22 deg C

Number of hours the temperature was above 22 degrees Celsius is 4

In [22]:
# num_hours temp was above X deg C, where X is a function input

4

14

105

105

In [36]:
# num_hours temp was between 10 and 25 deg C

Number of hours when the temperature was between 10 and 25 degrees Celsius is 105

In [37]:
# num_hours temp was between X and Y deg C (X,Y = func input)

105

In [60]:
# Was the temp ever recorded as exactly 11 deg C for any hour on day 3?
# Remember to round temperature values before comparing

True

In [61]:
# Was the temp ever recorded as exactly X deg C for any hour on day Y?
# Remember to round temperature values before comparing
# Create a function

True

Highest temp on a day

Maximum temperature for day 0 is 22.96 degree Celsius
Maximum temperature for day 1 is 22.09 degree Celsius
Maximum temperature for day 2 is 16.9 degree Celsius
Maximum temperature for day 3 is 17.06 degree Celsius
Maximum temperature for day 4 is 19.7 degree Celsius
Maximum temperature for day 5 is 21.63 degree Celsius
Maximum temperature for day 6 is 21.7 degree Celsius

In [ ]:
# Hour of highest temp

Hour of highest temperature for day 0 is 23
Hour of highest temperature for day 1 is 0
Hour of highest temperature for day 2 is 22
Hour of highest temperature for day 3 is 21
Hour of highest temperature for day 4 is 21
Hour of highest temperature for day 5 is 22
Hour of highest temperature for day 6 is 23

In [ ]:
# num_hours temp was between 19 and 21 deg C

Number of hours the temperature was between 19 and 21 degrees Celsius is 11

In [ ]:
# num_hours temp was between X-1 and X+1 deg C (X = func input)